/*Navigation*/
nav .brand-logo{
    color: black;
}
nav {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 70%;
    z-index: 9999;
   /*TODO: testen mit Tablet*/
}
nav ul a{
    color: black;
}
.material-icons{
    color: black;
}

main{
    padding-top: 80px;
}

